blosc2==2.0.0
contourpy==1.0.7
cupy>=8.3.0
cycler==0.11.0
Cython==0.29.33
fastrlock==0.8
fonttools==4.39.3
importlib-resources==5.12.0
kiwisolver==1.4.4
msgpack==1.0.5
ninja==1.11.1
numexpr==2.8.4
numpy==1.22.3
packaging==23.1
Pillow==9.4.0
py-cpuinfo==9.0.0
pyparsing==3.0.9
python-dateutil==2.8.2
PyYAML==6.0
six==1.16.0
tables==3.8.0
termcolor==2.3.0
torch>=1.8.1
torchaudio>=0.8.1
torchvision>=0.9.1
typing_extensions==4.5.0
zipp==3.15.0
